*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

input{
  all: unset;
}

textarea{
  resize: none;
  all: unset;
}

.big-title{
  width: 100%;
  height: 75px;
  background: rgb(60, 163, 248);
  color: #fff;
  padding: 0 40px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.form-contact{
  width: 40%;
  height: 600px;
  background: rgb(248, 246, 246);
  box-shadow: 1px 1px 1.5px 1px rgb(67, 180, 233);
}

.small-title{
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px 0;
  background: rgb(60, 163, 248);
  color: #fff;
  font-size: 19px;
}

.form{
  padding: 10px;
  padding-top: 20px;
}

.form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.form-group label{
  color: rgb(87, 166, 240);
}

.form-group input,
.form-group select{
  background-color: #fff;
  height: 30px;
  border-radius: 2px;
  padding: 0 8px;
  font-size: small;
  opacity: .8;
  border: none;
}

.form-group textarea{
  background-color: #fff;
  border-radius: 2px;
  padding: 8px;
  font-size: small;
  opacity: .8;
}

.form-file{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.form-file img{
  margin-right: 25px;
}

.file{
  display: none;
}

.label-file{
  padding: 8px;
  background-color: rgb(233, 230, 230);
  height: 10%;
}

.label-file:hover{
  cursor: pointer;
}

.form-group-buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.form-group-buttons button{
  width: 40%;
  height: 40px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.315);
}

.form-group-buttons button:hover{
  cursor: pointer;
}

.submit{
  background: rgb(60, 163, 248);
}

.reset{
  background: rgba(255, 0, 0, 0.575);
}

.error-empty{
  color: #f00;
  display: none;
}

.visible{
  display: inline-block;
}

.hidden{
  display: none;
}

.contact-list{
  width: 58%;
  background: rgb(248, 246, 246);
  box-shadow: 1px 1px 1.5px 1px rgb(67, 180, 233);
}

.contact{
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid rgb(67, 180, 233);
  background: #fff;
  position: relative;
}

.contact:hover{
  cursor: pointer;
  opacity: .8;
}

.contact-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

.contact-info{
  opacity: .7;
  font-size: 15px;
}

.contact-group{
  margin: 7px 0;
}

.cross{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #f00;
}

.cross:hover{
  cursor: pointer;
}

@media only screen and (max-width: 650px){
  .container{
    flex-direction: column;
  }

  .form-contact{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .contact-list{
    width: 100%;
  }

  .contact{
    flex-direction: column;
    text-align: center;
  }
}