*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

input{
  all: unset;
}

textarea{
  resize: none;
  all: unset;
}

select,
select:focus{
  outline: none;
}

.error{
  color: #EB5656;
  display: none;
}

.error-msg{
  text-align: center;
}

.main-head{
  width: 100%;
  height: 75px;
  background: #2E81ED;
  color: #fff;
  padding: 0 40px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.main-head h1{
  font-size: 20px;
}

.main-head i{
  display: none;
}

.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.form-contact{
  width: 40%;
  background: rgb(248, 246, 246);
  box-shadow: 1px 1px 1.5px 1px rgb(67, 180, 233);
}

.small-title{
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px 0;
  background: #2E81ED;
  color: #fff;
  font-size: 19px;
}

.form{
  padding: 10px;
  padding-top: 20px;
}

.form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.form-group label{
  color: #2E81ED;
}

.form-group input,
.form-group select{
  background-color: #fff;
  height: 30px;
  border-radius: 2px;
  padding: 0 8px;
  font-size: small;
  opacity: .8;
}

.form-group select,
.form-group select:focus{
  border: none;
}

.form-group select:hover{
  cursor: pointer;
}

.select{
  position: relative;
}

.form-group .more{
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  right: 2px;
  color: #2E81ED;
}

.form-group textarea{
  background-color: #fff;
  border-radius: 2px;
  padding: 8px;
  font-size: small;
  opacity: .8;
}

.form-file{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  text-align: center;
}

.form-file img{
  margin-right: 25px;
}

.file{
  display: none;
}

.label-file{
  padding: 8px;
  background-color: rgb(233, 230, 230);
}

.label-file:hover{
  cursor: pointer;
}

.choose-file{
  display: flex;
  flex-direction: column;
}

.form-group-buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.form-group-buttons button{
  width: 40%;
  height: 40px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.315);
}

.form-group-buttons button:hover{
  cursor: pointer;
}

.submit{
  background: #2E81ED;
}

.reset{
  background: #EB5656;
}

.hidden{
  display: none;
}

.contact-list{
  width: 58%;
  background: rgb(248, 246, 246);
  box-shadow: 1px 1px 1.5px 1px rgb(67, 180, 233);
}

.contact{
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #2E81ED;
  background: #fff;
  position: relative;
}

.contact:hover{
  cursor: pointer;
  opacity: .8;
}

.contact-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

.contact-info{
  opacity: .7;
  font-size: 15px;
}

.contact-group{
  margin: 7px 0;
}

.cross{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #EB5656;
}

.cross:hover{
  cursor: pointer;
}

.visible{
  display: inline-block;
}

.invalid{
  border:1px solid #EB5656;
}

@media only screen and (max-width: 650px){
  .container{
    flex-direction: column;
  }

  .form-contact{
    width: 80%;
    height: auto;
    margin-bottom: 10px;
    position: absolute;
    top: 75px;
    left: 10%;
    display: none;
    transition: all 200ms ease-in-out;
    z-index: 100;
  }

  .show{
    display: block;
  }

  .contact-list{
    width: 100%;
  }

  .contact{
    flex-direction: column;
    text-align: center;
  }

  .main-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-head i{
    display: inline-block;
  }

  .main-head i:hover{
    cursor: pointer;
    opacity: .7;
  }
}